# MeloTTS is officially developed and tested on Python 3.9.
fastapi==0.116.1
numpy==1.23.5
sentencepiece==0.2.1
torch==2.2.1
torchaudio==2.2.1
uvicorn[standard]==0.35.0
melotts @ git+https://github.com/myshell-ai/MeloTTS.git@209145371cff8fc3bd60d7be902ea69cbdb7965a
