# Use your Mac's LAN IP when testing on a physical phone, for example:
# EXPO_PUBLIC_API_BASE_URL=http://192.168.1.25:3001
EXPO_PUBLIC_API_BASE_URL=http://127.0.0.1:3001
EXPO_PUBLIC_SUPABASE_URL="https://thdcfkgdhjrlesgfgfic.supabase.co"
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_T8qx-cCPoy7Ovg_wUsHkiw_P2NSsUh2"
